snippet cpragma_once
#ifndef $1_H
#define $1_H

$0

#endif // $1_H
endsnippet

snippet cdoxygen
/**
 * @$1
 */
endsnippet

snippet cstruct_template
/**
 * @brief $2
 * @author Yilin Yang (yiliny@umich.edu)
 */
struct $1
{
    $0
}; // struct $1
endsnippet
